.cont{
    padding: 10%;
    border-color: teal 2px solid;
}
#foto{
    text-align: center;
    margin-left: 250px;
    margin-bottom: 10px;
}

.content-text{
    margin-left: 250px;
}
input{
    width: 300px;
    border-radius: 10px;
    border: black solid;
}

.content-2{
    height: 250px;
    background-color: thistle;
    border-radius: 10px;
    margin-top: -70px;
}

.button{
border-radius: 10px;
border: lavenderblush;
}

.button-2{
    border-radius: 50%;
    border-color: black solid 1px;
    background-color: rgb(187, 164, 164);
    color: red;
}

#divElements{
    background-color: rgba(168, 167, 167, 0.349);
    border-radius: 10px ;
}