.cont-1{
    padding: 10%;
    border-color: teal 2px solid;
}

#foto{
    text-align: center;
    margin-left: 250px;
    margin-bottom: 10px;
}

.margin-box{
    margin-left: 250px;
}

.input{
    width: 300px;
    border-radius: 10px;
    border: black solid;
}

.button{
border-radius: 10px;
border: lavenderblush;
}

.button-2{
    border-radius: 50%;
    border-color: black solid 1px;
    background-color: rgb(187, 164, 164);
    color: red;
  
}

